.admin_default {
    color: white;
    height: 60vh;
    background: #B3A369;
    text-align: center;
    padding: 50px;
}

.btn {
    background-color:#FFFFFF;
    color: #B3A369;
    font-weight: bold;
    margin: 1vh;
    width: 19vw;
    font-size: 2vw;
}

.BannerHolder {
    margin: min(2vh, 2vw);
}