.instructionTitle {
    padding: min(2vh,2vw) 0;
}
h1 {
    margin: 0;
    margin-bottom: 0;
    color: #ffffff;
    font-size: 2em;
    padding-left: 1em;
    font-stretch: condensed;
    text-align: center;
    text-shadow: 0 1px 2px #000000;
    vertical-align: middle;
    padding-bottom: 0;
}

.instructionP {
    text-align: center;
    font-family: inherit;
    padding: min(2vw,2vh);
    margin: 0;
    font-size: min(3vw,3vh);
    font-weight: bold;
    
    font-stretch: condensed;
    text-rendering: optimizeLegibility;
    max-height: 50vh;

}



.progress-bar-check-in {
    margin-top: min(5vw,5vh);
    height: min(10vh, 10vw);
    background-position: center;
    max-height: 6rem;
    
}
